<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add name="AS_MQTTClientEntities1" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=AS_MQTTClient;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="AS_MQTTClient.Properties.Settings.AS_MQTTClientConnectionString"
        connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AS_MQTTClient;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>
